<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>comps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="full" (click)="openPage('layout-input')">Layout - Input</ion-button>
    <ion-button expand="full" (click)="openPage('layout-list')">Layout - List</ion-button>
    <ion-button expand="full" (click)="openPage('comp-action-sheet')">
      Action Sheet</ion-button>
    <ion-button expand="full" (click)="openPage('comp-alert')">comp Alert</ion-button>
    <ion-button expand="full" (click)="openPage('comp-badge')">comp Badges</ion-button>
    <ion-button expand="full" (click)="openPage('buttons')">Botão</ion-button>
    <ion-button expand="full" (click)="openPage('comp-card')">Card</ion-button>
    <ion-button expand="full" (click)="openPage('comp-checkbox')">Checkbox</ion-button>
    <ion-button expand="full" (click)="openPage('comp-radio')">Radio</ion-button>
    <ion-button expand="full" (click)="openPage('comp-datetime')">Date Time</ion-button>
    <ion-button expand="full" (click)="openPage('comp-loading')">Loading</ion-button>
    <ion-button expand="full" (click)="openPage('comp-modal')">Modal</ion-button>
    <ion-button expand="full" (click)="openPage('comp-range')">Range</ion-button>
    <ion-button expand="full" (click)="openPage('comp-spinner')">Spinner</ion-button>
    <ion-button expand="full" (click)="openPage('comp-toast')">Toast</ion-button>
    <ion-button expand="full" (click)="openPage('comp-infinit-scroll')">Infit Scroll</ion-button>
    <ion-button expand="full" (click)="openPage('comp-popover')">Popover</ion-button>
    <ion-button expand="full" (click)="openPage('comp-refresher')">Refresher</ion-button>
    <ion-button expand="full" (click)="openPage('comp-searchbar')">SearchBar</ion-button>
    <ion-button expand="full" (click)="openPage('comp-searchbar-youtube')">SearchBar Youtube</ion-button>
    <ion-button expand="full" (click)="openPage('comp-toggle')">Toggle</ion-button>
    <ion-button expand="full" (click)="openPage('comp-fab')">Fab</ion-button>
    <ion-button expand="full" (click)="openPage('comp-select')">Select</ion-button>
</ion-content>